.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 1;
  padding: 24px;
  color: var(--mat-sys-on-secondary-container);
  background-color: var(--mat-sys-secondary-container);
  overflow-y: auto;

  main {
    margin-top: 24px;
  }
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0 24px;
}