@use '@angular/material' as mat;

// Include the common styles for Angular Material
@include mat.core();


html {
  @include mat.theme(
    (
      color: mat.$blue-palette,
      typography: Roboto,
      density: 0
    )
  )
}

